body.default {
	background-color: #000000;
	color: #ffffff;
}

body.default header {
	background-color: rgba(0, 0, 0, 0.5);
}

body.default #clock {
	color: #ffffff;
	text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

body.default #themeSelector {
	background-color: rgba(255, 255, 255, 0.1);
	color: #ffffff;
}

body.default #themeSelector:hover {
	background-color: rgba(255, 255, 255, 0.2);
}